[defaults]
inventory = /Users/amaury/Workspaces/Training/ansible-playground/playbooks/../deployed-lab.inventory

host_key_checking = no
roles_path = ./roles
retry_files_enabled = false
stdout_callback = debug

# BEGIN ANSIBLE MANAGED BLOCK
[ssh_connection]
pipelining=True
ssh_args="-F ssh.cfg"
# END ANSIBLE MANAGED BLOCK
