---
global:
  scrape_interval:     15s
  evaluation_interval: 15s

  external_labels:
    monitor: 'prometheus-master'

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first.rules"
  # - "second.rules"

scrape_configs:
  - job_name: training
    static_configs:
      - targets:
{% for host in groups['classroom'] %}
          - '{{ hostvars[host].ansible_default_ipv4.address }}:9100'
{% endfor %}
